body {
    background: #0a3d62;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 10px;
}

video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

button {
    background: #38ada9;
    border: none;
    padding: 15px;
    font-size: 22px;
    width: 90%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
